/* p {
  margin: 0;
  padding: 0;
}

.comments__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.comments__item:nth-child(even) {
  margin-left: 50%;
}

.task__description {
  padding: 10px 16px;
  border-bottom: 1px solid #000;
}
.sort__line {
  padding: 3px 5px;
  border-bottom: 2px solid #a3a3a3;
}

.input-group {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
}



 */
